
body {
  background-color: lightgray;
}

img {
  margin: auto;
  padding: 5px;
  margin-bottom: 20px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  padding: 1px;
}

.skills {
  text-align: center;
}

.projects {
  text-align: center;
}

.jumbotron {
  color: #696969;
  text-align: center;
  padding: 30px;
}

.aboutme .well {
  border-radius: 0px;
  padding: 5px;
  background-color: gray;
}

nav {
  padding: 15px;
  text-align: center;
  background-color: pink;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  font-size: 25px;
  padding: 50px;
  margin: 50px;
  color: black;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color: gray;
}

.navigation a:hover {
  color: black;
}
header {
max-width: 100%;
margin: 0;
}

.well h1 {
  text-align: center;
  font-weight: bold;
  color: black;
}

.well img {
  float: right;
  border-radius: 50%;
}

.well {
 border-radius: 0px;
}

.responsive {
  width: 100%;
  height: auto;
}

.row h1{
  font-weight: bold;
  text-align: center;
  color: black;
}

.row li {
  color: #696969;
}
