
.container {
  position: relative;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  color: black;

}
.skills {
  text-align: center;
}

}
.projects {
  text-align: center;
}

.jumbotron {
  color: black;

}

.about1 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  height: auto;
  float: right;
}
